*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kaushan Script", cursive;
}

body{
    display: flex;;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: coral;
    
}
.holder{
    width: 420px;
    background-color: transparent;
    border: 2px solid black;
    color: rgb(18, 46, 18);
    border-radius: 15px;
    padding: 30px 40px;
    backdrop-filter: blur(100px);
    box-shadow: rgb(83, 72, 72);
}

.holder h1{
    font-size: 36px;
    text-align: center;
}
.holder .input-box{
    width: 100%;
    height: 50px;
    background-color: transparent;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: white;
}

.input-box img{
    position: absolute;
    right: 520px;
    top: 51%;
    transform: translateY(-50%);
    font-size: 20px;
}
.input-box .user-img{
    position: absolute;
    right: 520px;
    top: 38%;
    transform: translateY(-50%);
    font-size: 20px;
}

.holder .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}
.remember-forgot a{
    color: white;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}

.holder .btn{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.holder .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}


/* Registration CSS */

.registration-holder{
    width: 420px;
    background-color: black;
    border: 2px solid rgb(88, 124, 88);
    color: white;
    border-radius: 25px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
}

.registration-holder h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}
.registration-holder .btn{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 5px;
}
.error{
    border-color: red;
}
.error-message{
    color: red;
    display: none;
    
}

#none{
    display: none;
}
.logErr{
    color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 425px){
    .holder{
        height: 100dvh;
        
    }
}