
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rouge Script", cursive;
    font-weight: 400;
}
body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
    height: 100%;
    background-color: rgb(61, 35, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(107, 107, 163);
}
.container{
    border: 2px solid black;
    padding: 40px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
}
textarea{
    height: 150px;
    width: 100%;
}
button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.design-profile img{
    width: 50px;
    cursor: pointer;
}
/* .result {
    margin-top: 20px;
    font-weight: bold;
} */

