@font-face {
    font-family: runda;
    src: url(/fonts/runda.woff2);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: runda;
    font-weight: 400;
    overflow-y: scroll;
  }
  .login,
.register {
  margin-top: 30px;
}

.sign-in-out {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
  justify-content: center;
}

form input {
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  /* height: 50px; */
  /* padding: 12px 20px; */
  margin: 8px 0;
  outline: none;
}

#submit {
  margin-top: 20px;
  border: 2px solid black;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s;
}

#submit:hover {
  background-color: black;
  color: #fff;
}

#email {
  margin-bottom: 20px;
  margin-top: 20px;
}

#createEmail {
  margin-bottom: 20px;
  margin-top: 20px;
}

#paragraph {
  font-size: 12px;
}

.h2 {
  margin-bottom: 30px;
}

  .container {
    /* width: 95%;
    /* max-width: 1100px; */
  }
  
  .category-nav-list {
    display: inline-flex;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #373e40;
    margin: 10px 10px;
    cursor: pointer;
  }
  
  a:hover {
    color: #9b9c9c;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  .category-nav-list-item-text {
    font-weight: normal;
  }
  
  #all {
    font-weight: bold;
  }
  
  .shop-quote {
    margin: 40px 0;
  }
  
  .shop-quote-text {
    line-height: 1.5;
    color: #373e40;
  }
  
  .filter-and-sort {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  #filter {
    border: 1px solid #d7d8d8;
    padding: 10px 15px;
  }
  
  .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    margin: auto;
    /* background-color: red; */
  }
  
  .product-card {
    height: 622px;
    /* background-color: gray; */
  }
  
  .product-card img {
    height: 500px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .product-card h2 {
    margin-top: 35px;
    margin-left: 0;
  }
  
  .product-card h2 a {
    text-decoration: none;
    text-transform: uppercase;
    color: #373e40;
    font-size: 1rem;
    margin: 0;
    cursor: pointer;
  }
  
  .product-card h2 a:hover {
    color: #9b9c9c;
  }
  
  .product-card p {
    font-size: 16px;
    color: #373e40;
  }
  
  .login{
    margin-top: 30px;
  }
  
  /* NAV */
.flex {
    display: flex;
}

.navigation {
    /* background-color: yellow; */
    justify-content: space-between;
    padding: 0px 20px;
    position: relative;
    z-index: 5;
}

.overlay {
    position: fixed;
    height: 100vh;
    left: 0;
    top: 87px;
    width: 100%;
    background: #00000045;
    z-index: 996;
}
.none{
    display: none;
}
.block{
    display: block;
}
   

.menu {
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 13.0909px;
}

.stock a {
    text-decoration: none;
    color: black;
    width: 72px;
}

.stock {
    padding: 22px;
}


.mega-menu {
    position: fixed; /* Change to fixed */
    width: 100%; /* Adjust width as needed */
    left: 0;
    display: none;
    z-index: 999;
    justify-content: center;
    overflow-y: auto; /* Add overflow-y to handle vertical overflow */
}

.mega-menu .dropdown {
    width: 65%; /* Adjust width for dropdown items */
    display: flex;
    flex-wrap: wrap; /* Wrap items if necessary */
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    gap: 5px;
    z-index: 999;
}

.dropdown li {
    /* Adjust styles for dropdown items if needed */
    margin: auto;
}

.myAccount {
    font-size: 13.0909px;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
    -webkit-transition: color 0.3s, transform 0.3s;
    -moz-transition: color 0.3s, transform 0.3s;
    -ms-transition: color 0.3s, transform 0.3s;
    -o-transition: color 0.3s, transform 0.3s;
}

.myAccount:hover {
    transform: matrix(1,0,0,1,0,0);
    -webkit-transform: matrix(1,0,0,1,0,0);
    -moz-transform: matrix(1,0,0,1,0,0);
    -ms-transform: matrix(1,0,0,1,0,0);
    -o-transform: matrix(1,0,0,1,0,0);
}