@font-face {
  font-family: me;
  src: url(/fonts/me.woff2);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: me;
  /* font-weight: 400; */
  overflow-y: scroll;
  overflow-x: hidden;
}


.overlay {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 120px;
  width: 100%;
  background: #00000045;
  z-index: 500;
}

.none {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.navigation {
  justify-content: space-between;
  padding: 0px 20px;
  position: relative;
  /* z-index: 5; */
}

.menu {
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 13.0909px;
}

.stock a {
  text-decoration: none;
  color: black;
  width: 87px;
}
.nav-links{
  width: 60%;
}
/* .stock {
  padding: 22px;
} */

.mega-menu {
  position: fixed;
  width: 100%;
  height: 35vh;
  left: 0;
  display: none;
  z-index: 999;
  justify-content: center;
  overflow-y: auto;
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;

  
}

.mega-menu .dropdown {
  width: 60%;
  max-width: 1133px;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
  
 
}

.dropdown li {
  flex: 1 1 calc(20% - 20px); /* Adjusts to fit 5 items per row */
  text-align: center;
}

.dropdown a {
  font-size: 15.2727px;
  font-weight: 900;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  
}

.dropdown a:hover {
  color: #000;
}

.myAccount {
  font-size: 13.0909px;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
}

.myAccount:hover {
  transform: translateY(-10px) scale(0.9);

  
  
}


footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  line-height: 25px;
  padding: 8px 30px;
  margin-top: 50px;
  font-size: 13.0909px;
}

.footer-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-1 h1, .footer-2 h1 {
  color: black;
  white-space: nowrap;
  font-size: .82rem;;
}

.footer-2 {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

footer a {
  color: gray;
  text-decoration: none;
  font-size: 13.0909px;
}

.footer-1 ul, .footer-2 ul {
  list-style: none;
  padding: 0;
}

.footer-item ul {
  padding-left: 0;
}

.footer-item h1 {
  margin-bottom: 10px;
}

.social {
  display: flex;
  gap: 10px;
}

.social img {
  width: 13px;
}





.container {
  width: 100%;
  margin: auto;
}

.category-nav-list {
  display: inline-flex;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #373e40;
  margin: 10px 10px;
  cursor: pointer;
}

a:hover {
  color: #9b9c9c;
}

h2 {
  font-size: 1.5rem;
}

.category-nav-list-item-text {
  font-weight: normal;
}

#all {
  font-weight: bold;
}

.shop-quote {
  margin: 40px 0;
}

.shop-quote-text {
  line-height: 1.5;
  color: #373e40;
}

.filter-and-sort {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

#filter {
  border: 1px solid #d7d8d8;
  padding: 10px 15px;
}

.product-container {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 95%;
  margin: auto; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  
}

.product-card {
  height: 622px;
  
}

.product-card img {
  height: 500px;
  /* padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px; */
}

.product-card img:hover {
  cursor: pointer;
}

.product-card i{
  color: #000;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.fa{
  cursor: pointer;
  color: #133385;
}

.overlayDiv{
  position: relative;
}

.div2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: .4s all ease-in-out;
}

.overlayDiv:hover .div2 {
  opacity: 1;
}

.product-card h2 {
  margin-top: 35px;
  margin-left: 0;
}

.product-card h2 a {
  text-decoration: none;
  text-transform: uppercase;
  color: #373e40;
  font-size: 1rem;
  margin: 0;
  cursor: pointer;
}

.product-card h2 a:hover {
  color: #9b9c9c;
}

.product-card p {
  font-size: 16px;
  color: #373e40;
}

.login,
.register {
  margin-top: 30px;
}

.sign-in-out {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
  justify-content: center;
}

form input {
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  /* height: 50px; */
  /* padding: 12px 20px; */
  margin: 8px 0;
  outline: none;
}

.submit {
  margin-top: 20px;
  border: 2px solid black;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s;
}

.submit:hover {
  background-color: black;
  color: #fff;
}

#email {
  margin-bottom: 20px;
  margin-top: 20px;
}

#createEmail {
  margin-bottom: 20px;
  margin-top: 20px;
}

#paragraph {
  font-size: 12px;
}

.h2 {
  margin-bottom: 30px;
}
